@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body {
  font-family: Montserrat;
  font-weight: 200;
  background-color: #EBEBEB;
  overflow-x: hidden;
}

.logo-container img{
  max-height: 40px;
}

.section2 h1 {
  position: relative;
  font-weight: 600;
  margin-top: 400px;
  color: #EBEBEB;
}

.section2 h2 {
  position: relative;
  font-style: italic;
  font-weight: 300;
  text-align: center;
  color: #EBEBEB;
}

h1, h2, h3 {
  font-weight: 200;
}

.link {
  list-style: none;
  text-decoration: none;
  color: black;
  text-transform: none;
}

.btns {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.contactUs {
  margin: 20px;
  border-radius: 20px;
}

.fieldsapply {
  margin-top: 10px;
}

.form-control {
  border-radius: 20px;
  margin: 10px;
}

.btn-apply {
  border-radius: 20px;
}

.offer-card img {
  width: 25px;
}

.slider {
  width: 100vw;
}

.menu {
  padding: 15px 40px 10px 40px;
  padding-bottom: 12px;
  position: fixed;
  width: 100vw;
  transition: all 1.3s;
}

.menu img {
  width: 60%; 
}
.menu a {
  color: black;
  font-weight: lighter; 
}

.form {
  margin-top: 150px;
}

.profile img {
  width: 40px;
  height: 40px;
  border: solid 2px rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  vertical-align: middle;
}

.handwriting {
  font-family: 'Dancing Script', cursive;
}

.student-profile img {
  width: 100px;
  height: 100px;
  display: block;
  justify-content: center;
  margin-bottom: 20px;
}

.btn-register {
  -webkit-appearance: none;
          appearance: none;
  -webkit-filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
  -webkit-transition: all .5s ease;
         filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
  -webkit-transition: all .5s ease;
          transition: all .5s ease;
  border: none;
  background: lightgray;
  border-radius: 30px;
  box-sizing: border-box;

  font-weight: 600;
  cursor: cursor;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.twitter img {
  width: 5%;
}

.instagram img {
  width: 3.5%;
  margin-right: 30px;
  margin-left: 20px;
}

.facebook img{
  width: 3%;
}

.whatsapp img {
  width: 4%;
  margin-left: 25px;
}

.RRSS {
  text-align: center;
}