@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700;900&display=swap');

body {
  font-family: montserrat;
  font-weight: 200;
  background-color: #ebebeb;
}

.picaporte img{
  width: 500px;
}

.picaporte3 h1 {
  position: absolute;
  font-weight: 900;
  margin: 400px;
  color: #ebebeb;

}

.picaporte3 h2 {
  position: absolute;
  font-style: italic;
  font-size: 2.1rem;
  font-weight: 300;
  margin: 470px 200px 470px 200px;
  color: #ebebeb;
  text-shadow: 20rem #ebebeb;
  

}

h1, h2, h3 {
  font-weight: 200;
}

.link {
  list-style: none;
  text-decoration: none;
  color: black;
  text-transform: none;
}

.slider {
  width: 100vw;
}

.menu {
  padding: 15px 40px 10px 40px;
  padding-bottom: 12px;
  position: fixed;
  width: 100%;
  transition: all .8s;
}
.menu img {
  width: 60%; 
}
.menu a {
  color: black;
  font-weight: lighter; 
}

.form {
  margin-top: 150px;
}

.profile img {
  width: 40px;
  height: 40px;
  border: solid 2px rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  vertical-align: middle;
}

.student-profile img {
  width: 100px;
  height: 100px;
  display: block;
  justify-content: center;
  margin-bottom: 20px;
}